
<div>

        <form class="form-inline" ng-show="!username">
            <div class="form-group">
                <label>User Name</lable>
                    <input type="text" class="form-control" ng-model="user.name">
            </div>
            <div class="form-group">
                <label>Password</lable>
                    <input type="password" class="form-control" ng-model="user.password">
            </div>
            <button ng-click="signup(user)">Sign up</button>
            <button ng-click="login(user)">Login</button>

        </form>
        <div ng-show="!!username">Welcome,{{username}}!
            <button ng-click="logout()">Logout</button>
        </div>
    </div>

